# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

# pandas 라이브러리 import 하기

In [70]:
# Python의 리스트(List) 타입의 데이터 생성하기
data=[3,5,1,2]
data

[3, 5, 1, 2]

In [71]:
# Pandas의 Series 타입의 데이터 생성하기
import pandas
pandas.Series(data) 
# pandas.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [72]:
# pandas 라이브러리 임포트하기 (1)
import pandas

In [73]:
# pandas 라이브러리 임포트하기 (2) - 별칭
import pandas as pd
pd.Series(data)

0    3
1    5
2    1
3    2
dtype: int64

In [74]:
# pandas 라이브러리 임포트하기 (3)
from pandas import Series
Series(data)

0    3
1    5
2    1
3    2
dtype: int64

In [75]:
a=Series(data) 
print(a)
a

0    3
1    5
2    1
3    2
dtype: int64

0    3
1    5
2    1
3    2
dtype: int64

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

### 1) List를 사용하여 Series 생성하기

In [76]:
data

[3, 5, 1, 2]

In [77]:
data1=Series(data)
data1

0    3
1    5
2    1
3    2
dtype: int64

In [78]:
data1.index

RangeIndex(start=0, stop=4, step=1)

In [79]:
data1.index=['a','b','c','d']
data1

a    3
b    5
c    1
d    2
dtype: int64

In [80]:
data1=Series(data, index=['a','b','c','d'])
data1

a    3
b    5
c    1
d    2
dtype: int64

### 2) Tuple을 사용하여 Series 생성하기

In [81]:
arr2=(3,5,1,2)
data2=Series(arr2)
data2

0    3
1    5
2    1
3    2
dtype: int64

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [82]:
arr3={'a':3,'b':5,'c':1,'d':2}
arr3

{'a': 3, 'b': 5, 'c': 1, 'd': 2}

In [83]:
data3=Series(arr3)
data3

a    3
b    5
c    1
d    2
dtype: int64

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [84]:
data3.values

array([3, 5, 1, 2], dtype=int64)

In [85]:
type(data3.values)

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [86]:
Series(['big','data',10,5.3,[1,2,3]])

0          big
1         data
2           10
3          5.3
4    [1, 2, 3]
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [87]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [88]:
sample.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [89]:
sample.values

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100], dtype=int64)

3) size - Series의 크기 (데이터의 길이)

In [90]:
sample.size

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [91]:
sample.dtype

dtype('int64')

In [92]:
data4=Series(['big','data',10,5.3,[1,2,3]])
data4.dtype

dtype('O')

### 함수(Methods) - Series가 제공하는 다양한 기능 활용
* 함수 호출 시 전달되는 자료들을 인자(argument, parameter)라고 합니다.
* 각 함수들은 정해진 인자들이 있으며, 인자값들을 토대로 함수가 실행됩니다. 
* 동일한 함수라고 하더라도 인자값을 어떻게 설정하느냐에 따라 동작방식은 달라질 수 있습니다.

1) describe() - 통계 정보를 한 눈에 제공해주는 함수

In [93]:
sample.describe()

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), mean(), ...

In [94]:
sample.max()

100

In [95]:
sample.min()

45

In [96]:
sample.mean()

81.0

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

In [97]:
sample.add_prefix('big-')

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

4) value_counts() - Series에 있는 데이터 값들의 개수

In [98]:
sample.value_counts()

90     3
85     2
95     1
45     1
75     1
55     1
100    1
dtype: int64

In [99]:
sample.value_counts(sort=False)

100    1
85     2
55     1
90     3
75     1
45     1
95     1
dtype: int64

In [100]:
sample.value_counts(True) # normalize=True

90     0.3
85     0.2
95     0.1
45     0.1
75     0.1
55     0.1
100    0.1
dtype: float64

In [101]:
sample.value_counts(ascending=True)

100    1
55     1
75     1
45     1
95     1
85     2
90     3
dtype: int64

5) add(값) - Series의 데이터 각각에 값을 더하기

In [102]:
sample.add(100) # sample.add(other=100)
                # sample + 100

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [103]:
sample.add([5,5,5,5,5,10,10,10,10,10])

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

In [104]:
sample_1=sample
sample_1[0:5]=sample_1[:5].add(5)
sample_1[5:11]=sample_1[5:].add(10)
sample_1

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [105]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

In [106]:
a=sample[:5].add(5)
b=sample[5:].add(10)
a.append(b)

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

In [107]:
sr=Series(80, index=['k']) # sample.index(80)
sr

k    80
dtype: int64

In [108]:
sample.append(sr)

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

In [109]:
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

In [110]:
sample=sample.append(sr)
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [111]:
sample.isin([75,85])

a     True
b    False
c     True
d    False
e    False
f    False
g    False
h     True
i    False
j    False
k    False
dtype: bool

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [112]:
80 in sample.values

True

In [113]:
sample.isin([80])

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
i    False
j    False
k     True
dtype: bool

In [114]:
sample_2=sample
for x in sample_2.isin([80]).values:
    if x==True:
        y="True"
    else:
        y="False"
y

'True'

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [115]:
'h' in sample.index

True

In [116]:
sample_3=sample
for x in sample_3.isin({'h'}).index:
    if x==True:
        y="True"
    else:
        y="False"
y

'False'

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용

In [117]:
# 80 이상이면 Good, 80 미만이면 Bad로 변경하고 싶은 경우
# 함수 선언
def get_grade(val):
    if val>=80:
        return 'Good'
    else:
        return 'Bad'

In [118]:
get_grade(50)

'Bad'

In [119]:
get_grade(80)

'Good'

In [120]:
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

In [121]:
sample.apply(get_grade)

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
k    Good
dtype: object

In [122]:
# 익명 함수 (람다 함수)
sample.apply(lambda val:'Good' if val>=80 else 'Bad')

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
k    Good
dtype: object

## Series 인덱싱 - 원하는 데이터만 선택하기

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [123]:
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

In [124]:
# 세 번째 항목값만 선택
sample[2]

75

In [125]:
# 'c'에 해당하는 값을 선택
sample['c']

75

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [126]:
# 3,5,7번째 데이터만 선택하기
sample[[2,4,6]]

c    75
e    45
g    95
dtype: int64

In [127]:
# 'c','e','g' 데이터 선택
sample[['c','e','g']]

c    75
e    45
g    95
dtype: int64

In [128]:
# 'c'부터 'g'까지의 데이터 선택
sample[['c','d','e','f','g']]

c    75
d    55
e    45
f    90
g    95
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택

In [129]:
# 'c'부터 'g'까지의 데이터 선택
sample['c':'g']

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [130]:
# sample의 맨 앞에 있는 5개 선택
sample[:5] 
# sample[0:5]
# sample['a':'e']

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [131]:
# sample의 맨 뒤에 있는 3개 선택
sample[-3:]
#sample[8:11]
#sample['i':'k']

i     90
j    100
k     80
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [132]:
boolean_idx = [False, False, False, False, False, 
               True, True, True, True, True]

In [133]:
sample[:-1][boolean_idx]

f     90
g     95
h     85
i     90
j    100
dtype: int64

- boolean index를 조건을 통해 생성할 수 있다. 
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [134]:
sample>=90

a    False
b     True
c    False
d    False
e    False
f     True
g     True
h    False
i     True
j     True
k    False
dtype: bool

In [66]:
sample[sample>=90]

b     90
f     90
g     95
i     90
j    100
dtype: int64

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

In [135]:
sample[sample>sample.mean()]

a     85
b     90
f     90
g     95
h     85
i     90
j    100
dtype: int64

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

In [136]:
sample[(sample>=50)&(sample<=80)] # and 오류남
# sample[sample>=50][sample<=80]

c    75
d    55
dtype: int64

=============================================================
# 실습 문제

In [137]:
import random

In [138]:
# 실습 데이터 생성
# random.seed(100)
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    72
B     2
C    49
D    68
E     6
F    67
G    86
H    57
I    48
J    51
K    62
L    97
M    76
N    53
O    99
P    27
Q    10
R    30
S    25
T    63
U    34
V    65
W    61
X     9
Y    85
Z    93
dtype: int64

In [139]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']

62

In [157]:
data[['K']]

K    62
dtype: int64

In [141]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A','F','C']]

A    72
F    67
C    49
dtype: int64

In [142]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    67
G    86
H    57
I    48
J    51
K    62
L    97
M    76
N    53
O    99
P    27
dtype: int64

In [143]:
# 4) 뒤에서 5개 항목 출력
data[-5:]

V    65
W    61
X     9
Y    85
Z    93
dtype: int64

In [145]:
# 5) data의 항목의 갯수를 출력
data.count()
# data.size()

26

In [146]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
data[data>data.mean()]

A    72
D    68
F    67
G    86
H    57
K    62
L    97
M    76
O    99
T    63
V    65
W    61
Y    85
Z    93
dtype: int64

In [148]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
50 in data.values

False

In [156]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX
for x in data.index:
    print("index:",x,", value:",data[x])

index: A , value: 72
index: B , value: 2
index: C , value: 49
index: D , value: 68
index: E , value: 6
index: F , value: 67
index: G , value: 86
index: H , value: 57
index: I , value: 48
index: J , value: 51
index: K , value: 62
index: L , value: 97
index: M , value: 76
index: N , value: 53
index: O , value: 99
index: P , value: 27
index: Q , value: 10
index: R , value: 30
index: S , value: 25
index: T , value: 63
index: U , value: 34
index: V , value: 65
index: W , value: 61
index: X , value: 9
index: Y , value: 85
index: Z , value: 93

In [159]:
for idx, val in data.items():
    print("index:",idx,", value:",val)

index: A , value: 72
index: B , value: 2
index: C , value: 49
index: D , value: 68
index: E , value: 6
index: F , value: 67
index: G , value: 86
index: H , value: 57
index: I , value: 48
index: J , value: 51
index: K , value: 62
index: L , value: 97
index: M , value: 76
index: N , value: 53
index: O , value: 99
index: P , value: 27
index: Q , value: 10
index: R , value: 30
index: S , value: 25
index: T , value: 63
index: U , value: 34
index: V , value: 65
index: W , value: 61
index: X , value: 9
index: Y , value: 85
index: Z , value: 93